		
<section>

	<% unless current_user %>

	<section id="main-container">
		<article id="welcome">
			<h1>Welcome to Chitter.</h1>
			<p>Start a conversation, explore your interests, and be in the know.</p>
		</article>

		<article id="sign_in">
			<%= partial :"partials/sign_in_form" %>
		</article>

		<article id="sign_up">
			<%= partial :"partials/sign_up_form" %>
		</article>
	</section>

	 <% end %>

	<% if current_user %>	
		<form action="/" method="POST">
			<input type="text" name="cheep">
				<button type="submit">Cheep!</button>
		</form>

		<% @cheeps.each do |cheep| %>
			<li>
				<%= cheep.cheep %>
				<%= cheep.created_at %>
			</li>
			<%= cheep.user.name %>
		<% end %>

	<% end %>	

</section>
