		
<section>

	<% unless current_user %>

	<section id="main-container">
		<article id="welcome">
			<h1 id="welcome-title">Welcome to Chitter.</h1>
			<p id="welcome-blurb">Start a conversation, explore your<br/>interests, and be in the know.</p>
			<div id="phone-image"></div>
		</article>

		<article id="sign_in">
			<%= partial :"partials/sign_in_form" %>
		</article>

		<article id="sign_up">
			<%= partial :"partials/sign_up_form" %>
		</article>
	</section>

	 <% end %>



	<% if current_user %>	

		<section id="session-content-container">

			<section id="left-column">
		    	<section id="profile-session">
		    		<article id="cover-photo"></article>
		    		<article id="avatar-pic"></article>
		    		<article id="name-and-username">
    					Welcome,<br> <strong><%= current_user.name %></strong><br><p>@<%= current_user.username %></p>
		    		</article>
		    		<article id="stats"></article>
		    		<article id="compose-cheep">
		    			<form action="/" method="POST">
							<input type="text" name="cheep" placeholder="Compose new Cheep...">
							<button type="submit">Cheep!</button>
						</form>
		    		</article>
				</section>

				<section id="trends-session"></section>
			</section>

			<section id="cheeps-session">

			<h1>Cheeps</h1>

				<% @cheeps.reverse.each do |cheep| %>
					<div id="each-cheep">
					<div id="cheep-info">
						<h4><%= cheep.user.name %></h4>
						<h5>@<%= cheep.user.username %>
						· <%= cheep.created_at.strftime("%A %H:%M %d/%m/%y") %></h5>
					</div>
					<li>
						<%= cheep.cheep %>
					</li>
					</div>
				<% end %>
	    	</section>

	    	<section id="right-column">
		    	<section id="who-to-follow-session"></section>
		    	<section id="footer-session"></section>
		    </section>
		</section>
	<% end %>	




</section>
